{% extends 'base-home.html' %}

{% block content %}
<h1>Card: {{card['display_name']}}</h1>
<table class="table table-bordered table-hover table-striped">

    <tr>
        <td><strong>Provider:</strong></td>
        <td>
            <img src="{{card['provider']['logo_uri']}}">
            {{card['provider']['display_name']}}
        </td>
    </tr>
</table>
<h3>Card Balance</h3>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <th><strong>Available</strong></th>
        <th><strong>Credit Limit</strong></th>
        <th><strong>Currency</strong></th>
        <th><strong>Current</strong></th>
        <th><strong>Last Statement Balance</strong></th>
        <th><strong>Last Statement Date</strong></th>
        <th><strong>Payment Due</strong></th>
        <th><strong>Payment Due Date</strong></th>
        <th><strong>Last Updated</strong></th>
    </thead>
    {% for balance in card['balance']['results'] %}
        <tr>
            <td>{{balance['available']}}</td>
            <td>{{balance['credit_limit']}}</td>
            <td>{{balance['currency']}}</td>
            <td>{{balance['current']}}</td>
            <td>{{balance['last_statement_balance']}}</td>
            <td>{{balance['last_statement_date']}}</td>
            <td>{{balance['payment_due']}}</td>
            <td>{{balance['payment_due_date']}}</td>
            <td>{{balance['update_timestamp']}}</td>
        </tr>
    {% endfor %}
</table>


<h3>Card Transactions</h3>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <th><strong>Amount</strong></th>
        <th><strong>Currency</strong></th>
        <th><strong>Description</strong></th>
        <th><strong>Merchant</strong></th>
        <th><strong>Timestamp</strong></th>
        <th><strong>Running Balance</strong></th>
        <th><strong>Transaction Category</strong></th>
        <th><strong>Transaction Type</strong></th>
    </thead>
    {% for balance in card['transactions']['results'] %}
        <tr>
            <td>{{balance['amount']}}</td>
            <td>{{balance['currency']}}</td>
            <td>{{balance['description']}}</td>
            <td>{{balance['merchant_name']}}</td>
            <td>{{balance['timestamp']}}</td>
            <td>{{balance['running_balance']['amount']}}</td>
            <td>{{balance['transaction_category']}}</td>
            <td>{{balance['transaction_type']}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}